<div class="row">
  <div class=col-lg-12> 
    <div class="card" style="border: 0px;">
      <div class="card-body">

        <h4 style="text-align: center; color: black;">Edit Menu</h4>

        <form #dataForm="ngForm" (submit)="updateMenuById(dataForm.value)">
          <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control form-control-sm" style="width: 10%; text-align: center;" [(ngModel)]="menu.id" name="id" value={{menu.id}} [readonly]="true">
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="menu.name" name="name" value="{{menu.name}}">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" rows="2" [(ngModel)]="menu.description" name="description" value="{{menu.description}}"></textarea>
          </div>
          <div class="form-group">
            <label>Image</label>
            <textarea type="text" class="form-control" rows="2" [(ngModel)]="menu.image" name="image" value="{{menu.image}}"></textarea>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control form-control-sm " style="width: 25%;" [(ngModel)]="menu.price" name="price" value="{{menu.price}}">
          </div>
          <div class="form-group">
            <label>Types</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="menu.types" name="types" value="{{menu.types}}">
          </div>

          <button mat-button mat-dialog-close class="btn btn-sm btn-danger">Cancel</button>
          <button type="submit" class="btn btn-sm btn-primary" style="float: right;">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>